<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content modal-content-demo">
        <div class="modal-header">
            <h3>Modifier une Annonce de voiture </h3>
            <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">×</span></button>
        </div>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <form id="my-formU" enctype="multipart/form-data">
            <div class="modal-body">
                    <input class="form-control" type="text" name="nom" id="titre" required placeholder="<%= voiture.nom %>"><br>
                    <input class="form-control" type="text" name="prix" id="titre" required placeholder=" <%= voiture.prix %>"><br>

                    <textarea class="form-control" name="description" id="description" required placeholder=" <%= voiture.description %>"></textarea><br>
                   
                    <div class="SumoSelect" tabindex="0" role="button" aria-expanded="false">
                        <select class="form-control" id="type" name="marqueId"  class="testselect2 SumoUnder" tabindex="-1" placeholder=" <%= voiture.marque.dataValues.nom %>">
                            <% for(var i=0; i < marque.length; i++) { %>
                                <option value="<%= marque[i].id%>"><%= marque[i].nom %></option>
                                <% } %>
                        </select><br>
                    </div><br>
                 

                    <div class="SumoSelect" tabindex="0" role="button" aria-expanded="false">
                        <select class="form-control" id="type" name="categoryId"  class="testselect2 SumoUnder" tabindex="-1" placeholder="<%= voiture.category.dataValues.nom %> ">
                            <% for(var i=0; i < categori.length; i++) { %>
                                <option value="<%= categori[i].id%>"><%= categori[i].nom %></option>
                                <% } %>
                        </select><br>
                    </div><br>
                    <div class="SumoSelect" tabindex="0" role="button" aria-expanded="false">
                        <select class="form-control" id="type" name="typeVoitureId" class="testselect2 SumoUnder" tabindex="-1" placeholder="<%= voiture.typeVoiture.dataValues.nom %>">
                            <% for(var i=0; i < typeVoiture.length; i++) { %>
                                <option value="<%= typeVoiture[i].id%>"><%= typeVoiture[i].nom %></option>
                                <% } %>
                        </select><br>
                    </div><br>
                    
                    <div class="SumoSelect" tabindex="0" role="button" aria-expanded="false">
                        <select class="form-control" id="type" name="consomationId" class="testselect2 SumoUnder" tabindex="-1" placeholder="<%= voiture.consomation.dataValues.nom %> ">
                            <% for(var i=0; i < consomation.length; i++) { %>
                                <option value="<%= consomation[i].id%>"><%= consomation[i].nom%></option>
                                <% } %>
                        </select><br>
                    </div><br>
                    <input type="text" name="adminId" value="1" style="display:none"  >
                    <input type="text" name="photo" value="<%=voiture.photo%>" style="display:none"  >

                    <input type="text" id="idU" name="idU" value="<%=voiture.id%>" style="display:none"  >


                    


                   

                    <br><input class="form-control" type="file"   id="document" name="photo"  placeholder="document attacher" multiple>
            </div>
            <div class="modal-footer">
                <!-- <input class="btn ripple btn-primary form-control" type="submit" value="ADD"> -->
                <input class="btn btn-main-primary btn-block" value="Modifier" type="submit">
            </div>
        </form>
    </div>
</div>